BELABERUNG_PG_NAME=belaberung
BELABERUNG_PG_USER=belaberung
BELABERUNG_PG_PASS=belaberung

BELABERUNG_VALKEY_USER=belaberung
BELABERUNG_VALKEY_PASS=belaberung

BELABERUNG_BACKEND_DB_HOST=postgres:5432
BELABERUNG_BACKEND_COOKIE_SECRET=supersecretpassphrasethatisverysecure123