BELABERUNG_PG_HOST=postgres
BELABERUNG_PG_PORT=5432
BELABERUNG_PG_NAME=belaberung
BELABERUNG_PG_USER=belaberung
BELABERUNG_PG_PASS=belaberung

BELABERUNG_VALKEY_HOST=valkey
BELABERUNG_VALKEY_PORT=6379
BELABERUNG_VALKEY_USER=belaberung
BELABERUNG_VALKEY_PASS=belaberung

BELABERUNG_BACKEND_DB_HOST=$BELABERUNG_PG_HOST:$BELABERUNG_PG_PORT
BELABERUNG_BACKEND_SESSION_SECRET=supersecretpassphrasethatisverysecure123
BELABERUNG_BACKEND_VALKEY_HOST=$BELABERUNG_VALKEY_HOST:$BELABERUNG_VALKEY_PORT