BELABERUNG_DB_HOST=localhost:5432
BELABERUNG_DB_NAME=belaberung
BELABERUNG_DB_USERNAME=belaberung
BELABERUNG_DB_PASSWORD=belaberung
BELABERUNG_COOKIE_SECRET=supersecretpassphrasethatisverysecure123

PORT=8080