BELABERUNG_DB_HOST=localhost:5432
BELABERUNG_DB_NAME=belaberung
BELABERUNG_DB_USERNAME=belaberung
BELABERUNG_DB_PASSWORD=belaberung
BELABERUNG_SESSION_SECRET=supersecretpassphrasethatisverysecure123
BELABERUNG_REDIS_HOST=localhost:6379
BELABERUNG_REDIS_USERNAME=belaberung
BELABERUNG_REDIS_PASSWORD=belaberung

PORT=8081
